main {
  padding: 20px;
}

.shop-btn-icon {
  width: 15px;
  height: auto;
  margin: 0px 5px;
}
.shop-btn-icon:hover {
  transform: scale(1.25, 1.25);
}

.menu-container {
  padding: 5px 10px;
  background-color: rgb(241, 237, 237);
  box-shadow: 0px 2px 5px 0px gray;
}
.menu-container > .menu-item {
  display: inline-block;
  margin: 0 5px;
  height: 50px;
  padding: 5px 10px;
  width: 150px;
  max-width: 150px;
  background-color: #bd2130;
  vertical-align: middle;
  position: relative;
  box-shadow: 0 1px 1px 0 gray;
  border-radius: 5px;
}
.menu-container > .menu-item > .menu-caption {
  display: inherit;
  width: 100px;
  height: 100%;
  font-size: 12px;
  padding-left: 10px;
  position: relative;
  vertical-align: middle;
  font-weight: bold;
  color: white;
}

.menu-container > .menu-item > img {
  width: 30px;
  height: auto;
  display: inherit;
  position: relative;
  vertical-align: middle;
  filter: invert(1);
}

.single{
  line-height: 40px;
}

.shop-title{
  color:white;
  font-size: 20px;
  font-weight: bold;
  padding: 0px 20px;
  text-transform: uppercase;
  font-family: monospace;
}

.shop-footer{
  font-size: 12px;
  text-align: right;
  font-family: monospace;
  color: white;
  padding: 5px 20px;
}